# Lista 1 de Introdução à Programação e Ciência de Dados

Professor: Rafael de Pinho

Monitor: Sillas Rocha

Aluno: Iago Dantas Figueirêdo

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from lista_01 import (
    pares_e_impares,
    filtrar_por_tamanho,
    rotate_tuple,
    transpose,
    flatten,
    group_by,
    invert_map,
    indices_of,
    merge_dicts,
    conta_digitos,
    count_anagrams,
    parse_csv,
    validar_sudoku,
)

## Parte 1: Listas e Tuplas

### 1. Números Pares e Ímpares

Crie uma função `pares_e_impares(nums)` que receba uma lista de números e retorne os números pares e ímpares em duas novas listas.

In [3]:
# Exemplo de uso da função pares_e_impares

nums = [1, 2, 3, 5, 77, 10, 0]

pares, impares = pares_e_impares(nums)

print(f"Números pares: {pares}")
print(f"Números ímpares: {impares}")

Números pares: [2, 10, 0]
Números ímpares: [1, 3, 5, 77]

### 2. Filtrar por Comprimento

Crie uma função `filtrar_por_tamanho(lista, k)` que receba uma lista de strings e um inteiro `k` , retornando apenas as palavras com comprimento maior que `k`.

In [4]:
# Exemplo de uso da função filtrar_por_tamanho

lista = ["aa", "bbb", "cccc", "ddddd", "eeeeee"]
k = 3

resultado = filtrar_por_tamanho(lista, k)

print(f"Strings com mais de {k} letras: {resultado}")

Strings com mais de 3 letras: ['cccc', 'ddddd', 'eeeeee']

### 3. Rotação de Tupla

Escreva uma função `rotate_tuple(tpl, n)` que, dada uma tupla e um inteiro $n$, retorne uma nova tupla cujos elementos foram rotacionados $n$ posições à direita, por exemplo, a entrada $(1,2,3,4,5)$ rotacionada 2 para frente, resultará em $(4,5,1,2,3)$.

In [5]:
# Exemplo de uso da função rotate_tuple

tpl = (1, 2, 3, 4, 5)
n = 2

resultado = rotate_tuple(tpl, n)

print(f"Tupla original: {tpl}")
print(f"Tupla rotacionada: {resultado}")

Tupla original: (1, 2, 3, 4, 5)
Tupla rotacionada: (4, 5, 1, 2, 3)

### 4. Transposta de Matriz

Crie uma função `transpose(matrix)` que receba uma lista de listas (matriz) e retorne sua transposta. Não use bibliotecas externas.

In [6]:
# Exemplo de uso da função transpose

matriz = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
]

resultado = transpose(matriz)

print("Matriz original:")
for linha in matriz:
    print(linha)
print("Matriz transposta:")
for linha in resultado:
    print(linha)

Matriz original:
[1, 2, 3, 4]
[5, 6, 7, 8]
Matriz transposta:
[1, 5]
[2, 6]
[3, 7]
[4, 8]

### 5. Alisamento de Lista Aninhada

Defina uma função `flatten(lst)` que receba uma lista potencialmente aninhada (listas dentro de listas em qualquer profundidade) e retorne uma lista “achatada” contendo todos os elementos na ordem em que aparecem.

In [7]:
# Exemplo de uso da função flatten

lst = [1, [2, 3], [4, [5, 6]], 7]

resultado = flatten(lst)

print(f"Lista original: {lst}")
print(f"Lista achatada: {resultado}")

Lista original: [1, [2, 3], [4, [5, 6]], 7]
Lista achatada: [1, 2, 3, 4, 5, 6, 7]

## Parte 2: Dicionários

### 1. Agrupamento por Chave

Dada uma lista de tuplas `(chave, valor)`, implemente `group_by(pairs)` que retorne um dicionário cujas chaves sejam as chaves originais e os valores sejam listas de todos os valores associados, note que pode haver mais de um valor associado a mesma chave, por exemplo, a lista [("A", 1), ("B", 1), ("C", 3), ("A", 4)] resultará em: {"A": [1,4], "B": [1], "C": [3]}.

In [8]:
# Exemplo de uso da função group_by

pairs = [("A", 1), ("B", 1), ("C", 3), ("A", 4)]

resultado = group_by(pairs)

print(f"Lista de pares: {pairs}")
print("Dicionário agrupado:")
for key, values in resultado.items():
    print(f"{key}: {values}")

Lista de pares: [('A', 1), ('B', 1), ('C', 3), ('A', 4)]
Dicionário agrupado:
A: [1, 4]
B: [1]
C: [3]

### 2. Inversão de Mapeamento

Defina `invert_map(d)` que receba um dicionário de chaves para valores únicos e retorne um novo dicionário invertendo chaves e valores.

In [9]:
# Exemplo de uso da função invert_map

d = {"A": 1, "B": 2, "C": 3}

resultado = invert_map(d)

print(f"Dicionário original: {d}")
print(f"Dicionário invertido: {resultado}")

Dicionário original: {'A': 1, 'B': 2, 'C': 3}
Dicionário invertido: {1: 'A', 2: 'B', 3: 'C'}

### 3. Índices por Valor

Implemente `indices_of(lst)` que receba uma lista e retorne um dicionário onde cada valor da lista é chave, e o valor é a lista de índices onde ele aparece.

In [10]:
# Exemplo de uso da função indices_of

lst = [1, 2, 3, 1]

resultado = indices_of(lst)

print(f"Lista: {lst}")
print("Índices de cada elemento:")
for key, indices in resultado.items():
    print(f"{key}: {indices}")

Lista: [1, 2, 3, 1]
Índices de cada elemento:
1: [0, 3]
2: [1]
3: [2]

### 4. Fusão com Resolução de Conflitos

Escreva `merge_dicts(dicts)` que receba uma lista de dicionários com valores numéricos e retorne um único dicionário. Se uma chave repetir, some os valores; caso contrário, apenas inclua, por exemplo, os dicionários [{"A": 1, "B": 1, "C": 3}, {"A": 4, "B": -4, "D": 2}] resultará em: {"A": 5, "B": -3, "C": 3, "D": 2}.

In [11]:
# Exemplo de uso da função merge_dicts

dicts = [{"A": 1, "B": 1, "C": 3}, {"A": 4, "B": -4, "D": 2}]

resultado = merge_dicts(dicts)

print("Dicionários originais:")
for d in dicts:
    print(d)
print(f"Dicionário mesclado: {resultado}")

Dicionários originais:
{'A': 1, 'B': 1, 'C': 3}
{'A': 4, 'B': -4, 'D': 2}
Dicionário mesclado: {'A': 5, 'B': -3, 'C': 3, 'D': 2}

### 5. Contador de Dígitos

Defina `conta_digitos(n)` que receba um inteiro (pode ser negativo) e retorne um dicionário onde as chaves são os dígitos (0-9) e os valores são quantas vezes aparecem na representação decimal de n.

In [12]:
# Exemplo de uso da função conta_digitos

n = -133444445999

resultado = conta_digitos(n)

print(f"Número: {n}")
print("Contagem de dígitos:")
for digito, contagem in resultado.items():
    print(f"{digito}: {contagem}")

Número: -133444445999
Contagem de dígitos:
0: 0
1: 1
2: 0
3: 2
4: 5
5: 1
6: 0
7: 0
8: 0
9: 3

## Parte 3: Desafios de Funções

### 1. Contador de Anagramas

Implemente `count_anagrams(words)` que receba uma lista de strings e retorne um dicionário onde cada "chave" é a palavra com as letras ordenadas em ordem alfabética e o valor é a lista de palavras que correspondem a esse anagrama, por exemplo, ["bolo", "lobo"], resultará em {"bloo": ["bolo", "lobo"]}.

In [13]:
# Exemplo de uso da função count_anagrams

words = ["bolo", "lobo"]

resultado = count_anagrams(words)

print(f"Palavras: {words}")
print("Contagem de anagramas:")
for key, count in resultado.items():
    print(f"{key}: {count}")

Palavras: ['bolo', 'lobo']
Contagem de anagramas:
bloo: ['bolo', 'lobo']

### 2. Parser de CSV

Crie `parse_csv(text, sep=', ')` que receba uma string com várias linhas de CSV, uma representação tabular onde a primeira linha é o cabeçalho e as colunas são separadas por vírgulas, (sem usar `csv` do Python) e retorne uma lista de dicionários, usando a primeira linha como cabeçalho. Nesta você recebará um texto do estilo:

```
Altura, Nome, Idade
177, Pedro, 21
191, Carlos, 33
169, Alice, 23
```

E retornará um dicionário no estilo:

```python
{"Altura": [177, 191, 169],
"Nome": ["Pedro", "Carlos", "Alice"],
"Idade": [21, 33, 23]}
```

In [14]:
# Exemplo de uso da função parse_csv

text = """
Altura, Nome, Idade
177, Pedro, 21
191, Carlos, 33
169, Alice, 23
"""

resultado = parse_csv(text)

print("CSV original:")
print(text)
print("Dicionário resultante:")
for key, values in resultado.items():
    print(f"{key}: {values}")

CSV original:

Altura, Nome, Idade
177, Pedro, 21
191, Carlos, 33
169, Alice, 23

Dicionário resultante:
Altura: [177, 191, 169]
Nome: ['Pedro', 'Carlos', 'Alice']
Idade: [21, 33, 23]

### 3. Validação de Sudoku

Dado um tabuleiro $9 \times 9$ representado por lista de listas de inteiros (0 para vazio), crie `validar_sudoku(tabuleiro)` que retorne `True` se não houver duplicatas em nenhuma linha, coluna ou bloco $3 \times 3$ (ignorando zeros), e `False` caso contrário.

In [15]:
# Exemplo de uso da função validar_sudoku

tabuleiro_1 = [
    [5, 2, 3, 0, 1, 7, 8, 0, 9],
    [9, 0, 0, 5, 3, 4, 7, 6, 0],
    [7, 0, 0, 8, 2, 0, 0, 3, 5],
    [0, 7, 6, 0, 0, 1, 4, 8, 0],
    [0, 3, 5, 0, 4, 0, 2, 9, 6],
    [8, 0, 0, 2, 6, 0, 0, 7, 0],
    [0, 5, 1, 0, 7, 6, 0, 2, 8],
    [0, 0, 0, 0, 0, 2, 6, 0, 4],
    [0, 9, 0, 0, 0, 0, 0, 1, 0],
]
tabuleiro_2 = [
    [5, 2, 3, 0, 1, 7, 8, 0, 9],
    [9, 0, 0, 5, 3, 4, 7, 6, 0],
    [7, 0, 0, 8, 2, 0, 0, 3, 5],
    [0, 7, 6, 0, 0, 1, 4, 8, 0],
    [0, 3, 5, 0, 4, 0, 2, 9, 6],
    [8, 0, 0, 2, 6, 0, 0, 7, 0],
    [0, 5, 1, 0, 7, 6, 0, 2, 8],
    [4, 0, 0, 0, 0, 2, 6, 0, 4],
    [0, 9, 0, 0, 0, 0, 0, 1, 0],
]

resultado_1 = validar_sudoku(tabuleiro_1)
resultado_2 = validar_sudoku(tabuleiro_2)

print("Tabuleiro 1 é válido" if resultado_1 else "Tabuleiro 1 é inválido")
print("Tabuleiro 2 é válido" if resultado_2 else "Tabuleiro 2 é inválido")

Tabuleiro 1 é válido
Tabuleiro 2 é inválido